<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <title>Chat Lobby</title>
    </head>

    <body>
        <h1>Chat app</h1>
        <h2>Current user:
            <div id="username">
                {{user.username}}
            </div>
            User ID:
            <div id="userID">
                {{user.id}}
            </div>
        </h2>

        <div>
            <label for="other-user-id">Enter recipient ID</label>
            <input type="text", id="other-user-id">
            <button id="connect-button">Connnect to chat</button>
        </div>


        <form id="form"?>
            <input type="text", name="message">
        </form>

        <div id="messages">
        </div>

        <script type="text/javascript">
            // https://www.youtube.com/watch?v=cw8-KFVXpTE
            // ws: instead of http: for a WebSocket a persistent two-way connection
            // window.location.host is a JS variable that contains the current root URL ex. example.com or 127.0.0.1:8000
            // ws/socket-server/ This is the specific path on the server where the Django WebSocket "consumer" is listening.
            const connectButton = document.getElementById("connect-button")
            const otherUserIdInput = document.getElementById("other-user-id")

            connectButton.addEventListener('click', function(){
                otherUserId = otherUserIdInput.value.trim()
                let url = `ws://${window.location.host}/ws/chat/${otherUserId}/`;
                // triggering a WebSocket connection which takes the URL as an argument.
                const chatSocket = new WebSocket(url);
                console.log("WebSocket estalibshed!")


                // When a message arrives on this specific chatSocket connection, run this function.
                // The e is the event object, which contains all the information about the incoming message.
                // JSON.parse converts the e object into a JSON object which can then be manipulated in JS more freely.
                // This is like an event listener, always listening on the ongoing WebSocket connection
                chatSocket.onmessage = function(event){
                    let data = JSON.parse(event.data)
                    console.log('Data: ', data) // the data here is the message we sent in the connect() method in consumers.py
    
                    if(data.type === 'chat_message'){
                        let messages = document.getElementById('messages')
                        messages.insertAdjacentHTML('beforeend', `<div>
                            <p>${data.senderUsername}: ${data.message}</p>
                            </div>`)
                    }
                }
    
                const senderUsername = document.getElementById('username').innerText
                let form = document.getElementById('form') // document.getElementById references <form id='form'>
                // addEventListener tells the client to wait for an event of type 'submit' (when submitting or sending the form)
                // when the event happens, execute the following function that takes the event as argument called 'event'.
                // preventDefault() prevents the default behavior of a form, aka reloading the page and sending a http request.
                // event.target (<form>) .message (form name='message') .value (the text written) into a variable message.
                // chatSocket.send takes a JSON object aka message and turns it into a readable Python string (that can be printed)
                // Basically, Client types a message ----> received by the server with the consumer receive()
                form.addEventListener('submit', function(event){ 
                    event.preventDefault()
                    let message = event.target.message.value
                    chatSocket.send(JSON.stringify({
                        'message': message,
                        'senderUsername':senderUsername
                    }))
                    form.reset()
                })
            })




            
        </script>
    </body>
</html>


