<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>

    <header>
    <h1>Hello and welcome to the homepage! {{ user.username }}</h1>
    <h2>You Want to Chat, You Want to Buy, You Want to Sell, You Want to Hangout, We Have All You Need!</h2>
    </header>

    <div class="menu">
        <button onclick="location.href='{% url 'login' %}'">Login</button>
        <button onclick="location.href='{% url 'register' %}'">Sign Up</button>
        <button onclick="location.href='{% url 'login' %}'">Log out</button>
        
    </div>

    <footer>
        <p>&copy; 2023 Trevo. All rights reserved.</p>
        <p>Follow us on <a href="https://twitter.com/Trevo">Twitter</a> and <a href="https://facebook.com/Trevo">Facebook</a>.</p>
        <p>Contact us at <a href="mailto:info@trevo.com">info@trevo.com</a>.</p>
    </footer>

</body>
</html>