/* this is the main stylesheet for the homepage */
* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
}
html, body {
    background-color: #000000;
}

/* Header styles */
header {
    background-color: #000000;
    padding: 0px 30px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.logo {
    height: 100px;
    width: 200px;
}
.menu {
    display: flex;
    gap: 20px;
    color: white;
}
.menu button{
    background: none;
    color: white;
    cursor: pointer;
    border: none;
}
.menu-button {
    font-size: 20px;
}
.profile-img{
    width: 50px;
    height: 50px;
}
/* Hero section styles */
.hero {
    background-image: url("../static/assets/HeroBackground.jpg");
    background-size: cover;
    font-size: 20px;
    padding: 70px;
}
.hero-content {
    text-align: center;
    color: white;
    padding: 10px;
}
.hero-buttons {
    justify-content: center;
    display: flex;
    gap: 15px;
    padding: 10px 0;
}
.hero-buttons button {
    background-color: #296080;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}

/* Features section styles */
.features {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 50px 20px;
    background-image: url("../static/assets/FeaturesBackground.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 25px;
    padding: 70px;
    text-align: center;
}
.features > * {
    flex: 1;
    padding: 20px;
}

/* Shopping section styles */
.shopping {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    padding: 50px 20px;
    background-image: url("../static/assets/ShoppingBackground1.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 25px;
    padding: 70px;
    text-align: center;
}
.shopping button {
    background-color: #296080;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}
footer {
    background-color: #000000;
    padding: 20px;
    text-align: center;
    color: white;
}