{% load static %}
<!DOCTYPE html>
<!-- commit -->
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" type="text/css" href="{% static 'loginstyles.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="box">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}    
            </ul>
            {% endif %}

            <h2>Welcome to Trevo</h2>
            <h3>Sign in now!</h3>
            <form method="POST", action="{% url 'login' %}"> <!-- Django uses to verify that the form submission is coming from your site and not from a malicious third party. -->
                {% csrf_token %}
                <div class="userbox">
                    <label for="Username">Username</label><br>
                    <input type="text" id="username" name="username"><br>
                    <br>
                </div>

                <div class="passbox">
                    <label for="Password">Password</label><br>
                    <input type="password" id="password" name="password"><br>
                    <br>
                </div>

                <div class="submitdiv">
                    <input type="submit" class="submitbtn" id="submit" name="submit" value="Sign in"><br>
                </div>
                <br>
            </form>

            <form method="get", action="{% url 'register' %}">
                {% csrf_token %}
                <h3 class="newmember">New member? Sign up here</h3>
                <div class="regsubmitdiv">
                    <input type="submit" class="regsubmitbtn" id="submit" name="submit" value="Sign up"><br>
                </div>
            </form>
        </div>
        <style ></style>
    </body>
</html>